<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.productivity.web.mapper.WorkCommodityMapper" >
  <resultMap id="BaseResultMap" type="com.productivity.web.entity.WorkCommodity" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="commodity_name" property="commodityName" jdbcType="VARCHAR" />
    <result column="price" property="price" jdbcType="VARCHAR" />
    <result column="unit" property="unit" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, commodity_name, price, unit
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from work_commodity
    where id = #{id,jdbcType=INTEGER}
  </select>
    <select id="listWorkCommodity" resultMap="BaseResultMap" parameterType="com.productivity.web.entity.WorkCommodity">
        select
        <include refid="Base_Column_List" />
        from work_commodity
        <where>
            <if test="commodityName!=null and commodityName!=''">
                commodity_name like CONCAT('%',#{commodityName},'%')
            </if>
        </where>
    </select>
  <select id="getWorkCommodityByCommodityName" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List" />
    from work_commodity
    where commodity_name = #{commodityName}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from work_commodity
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.productivity.web.entity.WorkCommodity" >
    insert into work_commodity (id, commodity_name, price, 
      unit)
    values (#{id,jdbcType=INTEGER}, #{commodityName,jdbcType=VARCHAR}, #{price,jdbcType=VARCHAR}, 
      #{unit,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.productivity.web.entity.WorkCommodity" >
    insert into work_commodity
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="commodityName != null" >
        commodity_name,
      </if>
      <if test="price != null" >
        price,
      </if>
      <if test="unit != null" >
        unit,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=INTEGER},
      </if>
      <if test="commodityName != null" >
        #{commodityName,jdbcType=VARCHAR},
      </if>
      <if test="price != null" >
        #{price,jdbcType=VARCHAR},
      </if>
      <if test="unit != null" >
        #{unit,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.productivity.web.entity.WorkCommodity" >
    update work_commodity
    <set >
      <if test="commodityName != null" >
        commodity_name = #{commodityName,jdbcType=VARCHAR},
      </if>
      <if test="price != null" >
        price = #{price,jdbcType=VARCHAR},
      </if>
      <if test="unit != null" >
        unit = #{unit,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.productivity.web.entity.WorkCommodity" >
    update work_commodity
    set commodity_name = #{commodityName,jdbcType=VARCHAR},
      price = #{price,jdbcType=VARCHAR},
      unit = #{unit,jdbcType=VARCHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>