<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.productivity.web.mapper.WorkCustomerMapper" >
  <resultMap id="BaseResultMap" type="com.productivity.web.entity.WorkCustomer" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="customer_name" property="customerName" jdbcType="VARCHAR" />
    <result column="tel" property="tel" jdbcType="VARCHAR" />
    <result column="address" property="address" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, customer_name, tel, address
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from work_customer
    where id = #{id,jdbcType=INTEGER}
  </select>
  <select id="listWorkCustomer"  resultMap="BaseResultMap" parameterType="com.productivity.web.entity.WorkCustomer">
    select
    <include refid="Base_Column_List" />
    from work_customer
    <where>
      <if test="customerName!=null and customerName!=''">
        and customer_name like CONCAT('%',#{customerName},'%')
      </if>
    </where>
  </select>
  <select id="getWorkCustomerByNameWithoutId" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List" />
    from work_customer
    where customer_name = #{customerName}
    <if test="notId != null">
      and id != #{notId}
    </if>
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from work_customer
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.productivity.web.entity.WorkCustomer" >
    insert into work_customer (id, customer_name, tel, 
      address)
    values (#{id,jdbcType=INTEGER}, #{customerName,jdbcType=VARCHAR}, #{tel,jdbcType=VARCHAR}, 
      #{address,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.productivity.web.entity.WorkCustomer" >
    insert into work_customer
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="customerName != null" >
        customer_name,
      </if>
      <if test="tel != null" >
        tel,
      </if>
      <if test="address != null" >
        address,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=INTEGER},
      </if>
      <if test="customerName != null" >
        #{customerName,jdbcType=VARCHAR},
      </if>
      <if test="tel != null" >
        #{tel,jdbcType=VARCHAR},
      </if>
      <if test="address != null" >
        #{address,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.productivity.web.entity.WorkCustomer" >
    update work_customer
    <set >
      <if test="customerName != null" >
        customer_name = #{customerName,jdbcType=VARCHAR},
      </if>
      <if test="tel != null" >
        tel = #{tel,jdbcType=VARCHAR},
      </if>
      <if test="address != null" >
        address = #{address,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.productivity.web.entity.WorkCustomer" >
    update work_customer
    set customer_name = #{customerName,jdbcType=VARCHAR},
      tel = #{tel,jdbcType=VARCHAR},
      address = #{address,jdbcType=VARCHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>