<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>

    <meta charset="UTF-8"/>
    <title>销售列表</title>
    <link rel="stylesheet" type="text/css" th:href="@{/easyui/themes/bootstrap/easyui.css}"/>
    <link rel="stylesheet" type="text/css" th:href="@{/easyui/themes/icon.css}"/>
    <link rel="stylesheet" type="text/css" th:href="@{/css/index.css}"/>
    <script type="text/javascript" th:src="@{/easyui/jquery.min.js}"></script>
    <script type="text/javascript" th:src="@{/easyui/jquery.easyui.min.js}"></script>
    <script type="text/javascript" th:src="@{/easyui/easyui-lang-zh_CN.js}"></script>
    <script type="text/javascript" th:src="@{/js/index.js?25}"></script>
    <script th:inline="none">
        var optwidth = 130;
        var datagridListId = "#datagridListId";
        $(function(){
            $('#addOrUpdDialog').window('close');
            $(datagridListId).datagrid({
                url:'workIncomeList',
                width:size.width-20,
                height:size.height - $('#searchDiv').height() - 20,
                columns:[[
                    {field:'opt',title:'操作',width:optwidth-30,align:'center',
                        formatter:function(value,rowData){
                            var str = "<a href='javascript:void(0);' onclick='editInfo(\""+rowData.id+"\")'>编辑</a> ";
                            str += "<a href='javascript:void(0);' onclick='deleteInfo(\""+rowData.id+"\")'>删除</a> ";
                            return str;
                        }
                    },
                    {field:"id",title:"ID",hidden:true},
                    {field:"customerId",title:"customerId",hidden:true},
                    {field:"incomeDate",title:"销售日期",width:fixWidthWithOptWidth(0.30),
                        formatter:function(value,rowData){
                            if(value != null && value != ''){
                                return tDateToStr(value, 'yyyy-MM-dd');
                            }
                            return '';
                        }
                    },
                    {field:"customerName",title:"客户名称",width:fixWidthWithOptWidth(0.30)},
                    {field:"incomePrice",title:"销售总价",width:fixWidthWithOptWidth(0.30)}

                ]],
                pagination : true,
                rownumbers:true,
                toolbar: [{
                    iconCls: 'icon-add',
                    text: '添加',
                    handler: function(){
                        $('#dataId').val("");
                        $('#customerId').val("");
                        $('#incomeDate').textbox("setValue", formatDate(new Date(), 'yyyy-MM-dd'));
                        $('#customerName').textbox("setValue", "");
                        $('#incomePrice').textbox("setValue", "");
                        $('#addOrUpdDialog').panel({
                            title:"添加"
                        });
                        $('#addOrUpdDialog').window('open');
                    }
                }],
                onClickRow: function () {
                    $(datagridListId).datagrid('clearSelections');
                }
            });
        });
        /**
         * 查询
         */
        function search() {
            var queryParams = {
                "customerName":$('#search_customerName').val()
            };
            if($('#search_startDate').val() != ''){
                queryParams['startDate'] = strToDate($('#search_startDate').val());
            }
            if($('#search_endDate').val() != ''){
                queryParams['endDate'] = strToDate($('#search_endDate').val());
            }
            $(datagridListId).datagrid('load',queryParams);
        }
        /**
         * 编辑
         */
        function editInfo(id) {
            var rows = $(datagridListId).datagrid('getRows');
            var curRow;
            $.each(rows,function(i,row){
                if(id == row.id){
                    curRow = row;
                    return false;
                }
            });
            $('#dataId').val(id);
            $('#customerId').val(curRow.customerId);
            $('#incomeDate').textbox("setValue", tDateToStr(curRow.incomeDate, 'yyyy-MM-dd'));
            $('#customerName').combobox('setValue', curRow.customerId);
            $('#incomePrice').textbox("setValue", curRow.incomePrice);
            $('#addOrUpdDialog').panel({
                title:"编辑"
            });
            $('#addOrUpdDialog').window('open');
        }
        /**
         * 删除
         */
        function deleteInfo(id) {
            $.messager.confirm("操作提示", "您确定要删除吗？", function (data) {
                if(data) {
                    $.ajax({
                        url:'delWorkIncome',
                        type:'POST',
                        data : {'id':id},
                        async : false,
                        success:function (data) {
                            var success = data.success;
                            if(success){
                                $(datagridListId).datagrid('reload');//刷新
                            }else{
                                alert(data.msg);
                            }
                        }
                    });
                }
            });
        }

        /**
         * 添加或更新
         */
        function addOrUpdWorkIncome() {
            if($('#incomeDate').val() == ''){
                alert('请选择销售日期');
                return;
            }
            if(!checkComboBoxValue('customerName')){
                alert('请选择正确的客户名称');
                return;
            }
            $.messager.confirm("操作提示", "您确定提交？", function (data) {
                if(data) {
                    var params = {
                        'id': $('#dataId').val(),
                        'customerId':$('#customerName').combobox('getValue'),
                        'incomeDate': strToDate($('#incomeDate').val()),
                        'customerName': $('#customerName').val(),
                        'incomePrice': $('#incomePrice').val()

                    };
                    $.ajax({
                        url:'addOrUpdWorkIncome',
                        type:'POST',
                        data : params,
                        async : false,
                        success:function (data) {
                            var success = data.success;
                            if(success){
                                $('#addOrUpdDialog').window('close');
                                reset();//刷新
                            }else{
                                alert(data.msg);
                            }
                        }
                    });
                }
            });
        }
        /**
         * 重置
         */
        function reset() {
            $('#search_startDate').textbox("setValue", "");
            $('#search_endDate').textbox("setValue", "");
            $('#search_customerName').textbox("setValue", "");
            search();
        }
    </script>
</head>
<body style="overflow: hidden">
    <div id="searchDiv" style="height: 50px;">
        <table>
            <tr>
                <td style="text-align: right">销售日期&nbsp;</td>
                <td>
                    <!--<input id="search_incomeDate" class="easyui-textbox" style="width:180px;height:25px">-->
                    <input id="search_startDate" type="text" data-options="editable:false" class="easyui-datebox" style="width:180px;height:25px"> --
                    <input id="search_endDate" type="text" data-options="editable:false" class="easyui-datebox" style="width:180px;height:25px">
                </td>
                <td style="text-align: right">客户名称&nbsp;</td>
                <td>
                    <input id="search_customerName" class="easyui-textbox" style="width:180px;height:25px">
                </td>
                <td onclick="search()">
                    <a href="#" class="easyui-linkbutton" data-options="iconCls:'icon-search'">查询</a>
                </td>
                <td>
                    <a href="#" onclick="reset();" class="easyui-linkbutton" data-options="iconCls:'icon-reload'">重置</a>
                </td>
            </tr>
        </table>
    </div>
    <div id="listParentDiv" style="overflow: hidden;width: 100%;height: 98%">
        <table id="datagridListId"></table>
    </div>
    <!-- 添加或更新对话框 -->
    <div id="addOrUpdDialog" class="easyui-window" title="Window Layout"
         data-options="iconCls:'icon-save',collapsible: false, minimizable: false, maximizable: false, resizable: false,modal:true"
         style="width:400px;height:300px;display: none;">
        <input type="hidden" id="dataId"/>
        <input type="hidden" id="customerId"/>
        <div class="easyui-layout" data-options="fit:true">
            <div data-options="region:'center'" style="width: 100%">
                <form>
                    <table class="formTable" style="width: 100%">
                        <tr>
                            <td style="width: 25%;text-align: right">销售日期:</td>
                            <td style="width: 75%">
                                <input id="incomeDate" type="text" data-options="editable:false" class="easyui-datebox" style="width:80%;height:25px">
                            </td>
                        </tr>
                        <tr>
                            <td style="width: 25%;text-align: right">客户名称:</td>
                            <td style="width: 75%">
                                <select id="customerName" class="easyui-combobox" name="state" style="width:80%;height:25px">
                                    <option th:each="customer:${workCustomers}" th:text="${customer.customerName}" th:value="${customer.id}"></option>
                                </select>
                            </td>
                        </tr>
                        <tr>
                            <td style="width: 25%;text-align: right">销售总价:</td>
                            <td style="width: 75%">
                                <input id="incomePrice" class="easyui-textbox" style="width:80%;height:25px">
                            </td>
                        </tr>
                    </table>
                </form>
            </div>
            <div data-options="region:'south',border:false" style="text-align:right;padding:5px 0 0;">
                <a class="easyui-linkbutton" data-options="iconCls:'icon-ok'" href="javascript:void(0)" onclick="addOrUpdWorkIncome()" style="width:80px">确定</a>
                <a class="easyui-linkbutton" data-options="iconCls:'icon-cancel'" href="javascript:void(0)" onclick="javascript:$('#addOrUpdDialog').window('close');" style="width:80px">取消</a>
            </div>
        </div>
    </div>
</body>
</html>